{% extends 'base.html.twig' %}

{% block body %}
    <div class="wrapper-member">
        {% block sidebar %}
            {% include 'member/sidebar.html.twig' %}
        {% endblock %}
        <div class="content main-content">
            <p>Bienvenue dans l'espace administrateur.</p>
        </div>
    </div>
{% endblock %}
